<ng-container *ngIf="loading$ | async">
  <div class="overlay"></div>
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>


<div *ngIf="loadedStory" class="container-fluid adapted single-item">

  <div class="container-timeline">
    <div [style.display]="timelineActive ? 'block' : 'none'" id="timeline-embed" style="width: 100%; height: 600px"></div>
  </div>

  <div [className]="!mapActive ? 'hidden' : ''">
    <ng-container *ngIf="tilesData">
      <div class="map-container">
        <div class="map-frame" [id]="tilesData.containerId"></div>
      </div>
    </ng-container>
  </div>
  
  <ng-container *ngIf="loadedRelatedItems">
    <div *ngIf="data" class="n7-image-viewer {{ data.classes || '' }}">
      <!-- OSD viewer -->
      <div [style.display]="viewerActive ? 'block' : 'none'" id="{{ data.viewerId }}" class="n7-image-viewer__viewer"></div>
  
      <!-- Zoom controls -->
      <!-- <div class="n7-image-viewer__controls">
            <ul class="n7-image-viewer__controls-list">
              <li class="n7-image-viewer__controls-item" id="n7-image-viewer-zoom-in">
                <span class="n7-icon-search-plus"></span>
              </li>
              <li
                class="n7-image-viewer__controls-item"
                id="n7-image-viewer-zoom-out"
              >
                <span class="n7-icon-search-minus"></span>
              </li>
            </ul>
          </div> -->
      <!-- Navigation -->
      <div
        *ngIf="!data.hideNavigation"
        class="n7-image-viewer__prev"
        id="n7-image-viewer-nav-prev"
      >
        <span class="n7-icon-angle-left"></span>
      </div>
  
      <div
        *ngIf="!data.hideNavigation"
        class="n7-image-viewer__next"
        id="n7-image-viewer-nav-next"
      >
        <span class="n7-icon-angle-right"></span>
      </div>
    </div>
  </ng-container>
  <hr/>
  <div class="row justify-content-center">
    <div class="col-4 justify-content-center">
      <button class="switch-view-buttons" (click)="switchView('imgviewer')">
        viewer
      </button>
    </div>
    <div class="col-4 justify-content-center">
      <button class="switch-view-buttons" (click)="switchView('mapviewer')">
        mappa
      </button>
    </div>
    <div class="col-4 justify-content-center">
      <button class="switch-view-buttons" (click)="switchView('timelineviewer')">
        timeline
      </button>
    </div>
  </div>
  <div class="container-fluid metadata-box metadata">
    <div class="row justify-content-center">
      <div
        *ngIf="loadedStory && loadedStory['o:title']"
        class="col-8 metadata-title"
      >
        {{ loadedStory["o:title"] }}
      </div>
    </div>
    <div class="row justify-content-center description">
      <div
        *ngIf="loadedStory && loadedStory['dcterms:description']"
        class="col-6 metadata-description"
      >
        {{ loadedStory["dcterms:description"][0]["@value"] }}
      </div>
      <div class="col-2 related-resources-box">
        <div *ngIf="peopleEntities" class="row people">
          <div class="row people-box">
            <h4><i class="fas fa-users"></i> Persone</h4>
          </div>
          <div class="entities-box">
            <ng-container *ngFor="let person of peopleEntities">
              <div class="row">
                <div class="col">
                  — <a [href]="person.link" class="text-decoration-none" target="_blank"> {{person.label}} </a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="peopleEntities" class="row people">
          <div class="row people-box">
            <h4><i class="fas fa-cubes"></i> Risorse</h4>
          </div>
          <div class="entities-box">
            <ng-container *ngFor="let item of loadedRelatedItems">
              <div class="row">
                <div class="col">
                  — <a
                    [routerLink]="['/work', item['o:id'], slugify(item['o:title'])]" 
                    class="text-decoration-none" target="_blank"> {{item["o:title"]}} </a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!-- <div class="row items">
          <div class="row entities-box">
            <h3>Risorse</h3>
          </div>
          <div class="row">
            <div class="col">
              <i class="fas fa-cube"></i> Tizio
            </div>
          </div>
          <div class="row">
            <div class="col">
              <i class="fas fa-cube"></i> Tizio
            </div>
          </div>
          <div class="row">
            <div class="col">
              <i class="fas fa-cube"></i> Tizio
            </div>
          </div>
          <div class="row">
            <div class="col">
              <i class="fas fa-cube"></i> Tizio
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

</div>

<!-- <div class="timeline">
  <div id="timeline-embed" style="width: 100%; height: 600px"></div>
</div> -->


