<div class="container-fluid" style="background-color: rgb(240, 240, 240)">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-4"><h1>Opere</h1></div>
    </div>
    <div class="row justify-content-md-start">
      <div class="col-3 total-works">
        <p style="font-size: 1.2rem">
          <span style="font-weight: bold">Filtra i risultati</span>
        </p>
      </div>
      <div class="col-4 total-works">
        <p style="font-size: 1.2rem">
          <span style="font-weight: bold">{{ loadedItems.length }}</span> Opere
          totali
        </p>
      </div>
      <div class="col-4">
        <select class="form-select" aria-label="Default select example">
          <option selected>Ordine alfabetico (A→Z)</option>
          <option value="1">Ordine alfabetico (Z→A)</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-md-start">
      <div class="col-3" *ngFor="let item of loadedItems">
        <div class="card" style="width: 18rem">
          <a
                [routerLink]="['/work', item['o:id'], slugify(item['o:title'])]"
                >
          <img
            [src]="item.thumbnail_display_urls.square"
            class="card-img-top"
          />
          <!-- FIX ME -->
          <div class="card-body">
            <h5 class="card-title">
              {{ item["o:title"] }}
            </h5>
            <hr />
            <span
              class="metadata metadata-author"
              *ngFor="let field of item['dcterms:creator']"
              >autore
              <span style="font-weight: bold">{{
                field["o:label"] || field["@value"]
              }}</span></span
            >
            <br />
            <span
              class="metadata metadata-date"
              *ngFor="let field of item['dcterms:date']"
              >data
              <span style="font-weight: bold">{{
                field["o:label"] || field["@value"]
              }}</span></span
            >
            <br />
            <span class="metadata metadata-date" *ngIf="item.ref_count"
              >riferimenti
              <span style="font-weight: bold">{{ item.ref_count }}</span></span
            >
            <br />
            <span class="metadata metadata-date"
              >media
              <span style="font-weight: bold">{{ item.original_url || item.video_source }}</span></span
            >
          </div>
          </a
              >
        </div>
      </div>
    </div>
  </div>
</div>
