<div
  class="container-fluid adapted"
  style="background-color: rgb(240, 240, 240)"
>
  <!-- METTI PADDING AL CONTAINER FLUID E TOGLI CONTAINER DALLA NAVBAR -->
  <!-- <div class="container"> -->

  <div class="row align-items-start">
    <div class="col-4"><h1>Items</h1></div>
  </div>
  <div class="row justify-content-md-start">
    <div class="col-3 total-works">
      <p style="font-size: 1.2rem">
        <span style="font-weight: bold">Filter the results</span>
      </p>
    </div>
    <div class="col-4 total-works">
      <p style="font-size: 1.2rem">
        <span style="font-weight: bold">{{ loadedItems.length }}</span> total Items
      </p>
    </div>
    <div class="col-4">
      <select
        class="form-select selectpicker show-tick"
        aria-label="Default select example"
        (change)="switchSort()"
      >
        <option selected>Alphabetical order (A→Z)</option>
        <option value="1">Alphabetical order (Z→A)</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 filters-list">
      <!-- <h4 class="filters-title">Filtri</h4> -->

      <button class="accordion">Author</button>
      <div class="panel">
        <ng-container *ngFor="let filter of filteredItems">
          <ng-container *ngIf="filter.label === 'creator'">
        <li class="filter-artist" [id]="filter.value" (click)="filterItems(filter.value, filter.label)">{{filter.value}} <span class="badge bg-secondary">{{filter.count}}</span></li><br>
          </ng-container>
      </ng-container>
      </div>

      <button class="accordion">Date</button>
      <div class="panel">
        <ng-container *ngFor="let filter of filteredItems">
          <ng-container *ngIf="filter.label === 'date'">
        <li class="filter-date" [id]="filter.value" (click)="filterItems(filter.value, filter.label)">{{filter.value}} <span class="badge bg-secondary">{{filter.count}}</span></li><br>
          </ng-container>
          </ng-container>
      </div>

      <button class="accordion">Subject</button>
      <div class="panel">
        <ng-container *ngFor="let filter of filteredItems">
          <ng-container *ngIf="filter.label === 'subject'">
        <li class="filter-subject" [id]="filter.value" (click)="filterItems(filter.value, filter.label)">{{filter.value}} <span class="badge bg-secondary">{{filter.count}}</span></li><br>
          </ng-container>
          </ng-container>
      </div>

      <button class="accordion">Type</button>
      <div class="panel">
        <ng-container *ngFor="let filter of filteredItems">
          <ng-container *ngIf="filter.label === 'type'">
        <li class="filter-type" [id]="filter.value" (click)="filterItems(filter.value, filter.label)">{{filter.value}} <span class="badge bg-secondary">{{filter.count}}</span></li><br>
          </ng-container>
          </ng-container>
      </div>

      <!-- <button class="accordion">Verses</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div> -->
    </div>

    <div class="col items-list">
      <div class="row no-padding-row">
        <div class="col-lg-auto active-filter-badge" *ngFor="let badge of activeFilterBadges">
          <span class="badge badge-secondary filter-badge slide current" id="{{badge.label}}-badge" (click)="removeFilter(badge.label)">{{badge.label}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-auto item slide current" *ngFor="let item of loadedItems">
          <!-- PLACEHOLDER LOADER -->

          <!-- <ng-container *ngIf="!isArrayLoaded">
              <div class="card placeholder-card" style="width: 18rem">
                <div class="placeholder-item"></div>
                <div class="card-body">
                  <h5 class="card-title placeholder-title"></h5>
                  <br />
                  <div class="placeholder-metadata"></div>
                  <div class="placeholder-metadata"></div>
                  <div class="placeholder-metadata"></div>
                </div>
              </div>
            </ng-container> -->

          <!-- <ng-container *ngIf="isArrayLoaded"> -->
        <div class="link-wrapper">
          <a
           [routerLink]="['/work', item['o:id'], slugify(item['o:title'])]"
            ><img
              class="thumbnail-preview scale-image"
              [src]="item.thumbnail_display_urls.large"
          /></a>
          <p
            class="metadata-artist"
            *ngFor="let hit of item.metadata.creator"
          >
          {{ hit }}
          </p>
          <a class="link hover-1" [routerLink]="['/work', item['o:id'], slugify(item['o:title'])]"
            ><h3 class="metadata-title">{{ item.metadata.title }}</h3></a
          >
          <p class="metadata-date">
            {{ item.metadata.date }}
          </p>
          <ng-container *ngIf="item.metadata.type?.length > 0">
            <span class="metadata metadata-date"
              >type
              <ng-container *ngFor="let hit of item.metadata.type">
                <span
                  style="font-weight: bold"
                  >{{ hit }}</span
                >
              </ng-container>
            </span>
            <br />
          </ng-container>
          <ng-container *ngIf="item.metadata.subject?.length > 0">
            <span class="metadata metadata-date"
              >subject
              <ng-container *ngFor="let hit of item.metadata.subject">
                <span
                  style="font-weight: bold"
                  >{{ hit }}</span
                >
              </ng-container>
            </span>
            <br />
          </ng-container>
          <span class="metadata metadata-date" *ngIf="item.ref_count"
            >verses
            <span style="font-weight: bold">{{ item.ref_count }}</span></span
          >
        </div>
          <!-- </ng-container> -->
        </div>
      </div>
    </div>
  </div>

  <!-- </div> -->
</div>
