<!--Navbar -->
<div class="container-fluid navbar-header">
<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <div class="container-fluid"> -->
    <a class="navbar-brand" href="#">De rerum natura</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" aria-current="page" routerLink="/home">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/work">opere</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/library">biblioteca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="/timeline">cronologia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="#">percorsi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active current" routerLink="#">about</a>
        </li>
      </ul>
    </div>
  <!-- </div> -->
</nav>

</div>
</div>
<!--/.Navbar -->
<!-- <div class="container-fluid" style="background-color: rgb(240, 240, 240);"> -->
<router-outlet></router-outlet>
<!-- </div> -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="background-color: #2d3439; color: whitesmoke">

  <!-- Footer Links -->
  <div class="container text-center" style="padding-top: 2rem;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">De Rerum Natura</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Menu</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Opere</a>
        </p>
        <p>
          <a href="#!">Biblioteca</a>
        </p>
        <p>
          <a href="#!">Percorsi</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Collegamenti utili</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Prova</a>
        </p>
        <p>
          <a href="#!">Prova</a>
        </p>
        <p>
          <a href="#!">Prova</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Informazioni</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Prova</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 346 111 222 33</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->