<div class="container-fluid adapted single-item">
  <!-- <div class="container single-item"> -->
    <div class="row align-items-start">
      <div class="col-4">
        <!-- FIXME: undefined -->
        <h1>{{ loadedItem["o:title"] }}</h1>
      </div>
    </div>

    <!-- FIXME: use openseadragon -->
    <div class="row justify-content-md-center image-container">
      <div *ngIf="loadedItem.original_url; else loadVideo" class="col-md-auto">
        <!-- FIXME: undefined -->
        <img [src]="loadedItem.thumbnail_display_urls.large" />
      </div>
      <ng-template #loadVideo>
        <!-- FIXME: undefined -->
        <iframe
          [src]="
            sanitizer.bypassSecurityTrustResourceUrl(loadedItem.video_source)
          "
          width="550"
          height="400"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </ng-template>
    </div>

    <div class="description">
      <div
        *ngIf="loadedItem.has_text"
        class="row justify-content-md-start metadata"
      >
        <div class="col-2">
          <h2>Verses</h2>
        </div>

        <div class="col-10 metadata">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>
                  <span
                    (click)="updateXPath()"
                    routerLink="/library"
                    routerclass="text-fragment-link"
                    class="text-fragment-link"
                  >
                    {{ loadedItem.has_text }} <i class="fas fa-pen-fancy"></i>
                </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr *ngIf="loadedItem.has_text" />

      <div class="row justify-content-md-start metadata">
        <div class="col-2">
          <h2>Metadata</h2>
        </div>

        <div class="col-10 metadata">
          <table class="table table-borderless">
            <tbody *ngFor="let property of loadedItem | keyvalue">
              <ng-container *ngIf="isValid(property.key)">
                <tr *ngFor="let field of loadedItem[property.key]">
                  <ng-container *ngIf="field['property_label'] != 'Title'">
                    <td>
                      <b>{{ field["property_label"] }}</b>
                    </td>
                    <td>
                      <span *ngIf="field['type'] !== 'uri'">{{ field["o:label"] || field["@value"] }}</span>
                      <a
                        *ngIf="field['property_label'] === 'Relation'"
                        [href]="buildLink(field)"
                        >{{ field["display_title"] }}</a
                      >
                      <a
                        *ngIf="field['type'] === 'uri'"
                        [href]="field['@id']"
                        >{{ field["o:label"] || field["@value"] }} <i class="fas fa-external-link-alt"></i></a
                      >
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
