.lead {
    font-family: 'Prata', serif;
}

h1 {
    font-family: 'Prata', serif;
}

.image-container {
    background-color: #2d3439b5;
    margin: 0 auto;
}

.description {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

.single-item {
    padding-top: 3rem;
}

.metadata {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.content {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.adapted {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .text-fragment-link {
    // color: #fff;
    // text-transform: uppercase;
    // text-decoration: none;
    // letter-spacing: 0.15em;
    cursor: pointer;
    display: inline-block;
    // padding: 15px 20px;
    position: relative;
  &::after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgba(122, 178, 230, 0.616);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover::after { 
    width: 100%; 
    left: 0; 
  }
}