<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">DRNOnline</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis posuere mi, ut condimentum nisi porta in.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Discover the collection</a>
    </p>
</div>
</div>
<div class="container">
    <div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis posuere mi, ut condimentum nisi porta in. Nam felis est, fringilla in massa eu, facilisis rutrum ligula. Vivamus maximus egestas nisl, id suscipit est suscipit at. Aliquam mattis neque vel sodales iaculis. Aenean ut ligula cursus leo condimentum pharetra nec vitae mi. In erat metus, dapibus sed massa et, volutpat imperdiet leo. Morbi posuere nunc eu dapibus iaculis. Praesent eleifend, felis ac consectetur maximus, eros orci posuere purus, et dictum magna dolor quis sem. Vivamus sed faucibus tortor, non porta leo. In id odio ullamcorper, pulvinar erat vel, hendrerit odio.</p>
    <p>Etiam quis porta quam, semper mattis eros. Cras sit amet nisi euismod, dictum justo quis, vehicula nisl. Donec pellentesque porta lacinia. In hac habitasse platea dictumst. Nunc pulvinar, dui ut congue tempor, lacus arcu mattis ante, eu condimentum tellus elit blandit nisi. Etiam tincidunt dictum dui, sit amet pulvinar elit luctus sit amet. In sed arcu sit amet nisl convallis porttitor. Phasellus auctor dolor lorem, sit amet dignissim elit sollicitudin quis. Ut gravida efficitur porta. Sed ex felis, feugiat id interdum non, ultrices eu neque.</p>
    </div>
</div>
