<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">DRNOnline</h1>
    <!-- <p class="lead"><i>De rerum natura</i> in the contemporary art.</p> -->
    <hr class="my-4" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/work" role="button"
        >Browse the items</a
      >
    </p>
  </div>
</div>
<div class="container">
  <div class="description">
    <p>
      This project aims to create an interactive digital exhibition starting
      from the reception of Lucretius's <i>De rerum natura</i> in contemporary
      art. In particular, the items and collections presented here have bene
      selected and displayed at
      <a
        class="link"
        href="https://eventi.unibo.it/riscoperta-lucrezio/mostra-vedere-invisibile"
        ><i>Vedere l'Invisibile</i></a
      >, an exhibition held in Bologna in 2017.
    </p>
    <p>
      A sample of fifteen items, representatives of different media, has been
      selected in order to populate the digital collection. In addition to the
      gallery, an excerpt of the sixth book of De rerum natura is presented,
      along with William Ellery Leonard's translation. Finally, a preview of an
      interactive path based on the episode of the plague of Athens is presented
      to the visitor.
    </p>
  </div>
</div>
<div class="container-fluid sets-bg">

  
  <div class="container card-container">
    <div class="row">
      <div class="col">
        <h3 class="collection-title">Scopri le storie</h3>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let story of (loadedStories | slice:0:3)" class="col-md-4 col-sm-12 d-flex">
        <div class="card bg-dark text-white border-0" style="width: 100%; min-height: 111px;">
          <a href="/collection" class="set-link">
            <img [src]="story.thumbnail_display_urls.large" class="card-img" alt="..." />
            <div class="card-img-overlay d-flex">
              <h5 class="card-title align-self-center mx-auto">{{ story['o:title'] }}</h5>
            </div>
          </a>
        </div>
      </div>    
    </div>
  </div>

</div>
