<div class="jumbotron">
    <div class="container">
    <h1 class="display-4">DRNOnline</h1>
    <!-- <p class="lead"><i>De rerum natura</i> in the contemporary art.</p> -->
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/work" role="button">Discover the collection</a>
    </p>
</div>
</div>
<div class="container">
    <div class="description">
    <p>This project aims to create an interactive digital exhibition starting from the reception of Lucretius's <i>De rerum natura</i> in contemporary art. In particular, the items and collections presented here have bene selected and displayed at <a class="link" href="https://eventi.unibo.it/riscoperta-lucrezio/mostra-vedere-invisibile"><i>Vedere l'Invisibile</i></a>, an exhibition held in Bologna in 2017.</p>
    <p>A sample of fifteen items, representatives of different media, has been selected in order to populate the digital collection. In addition to the gallery, an excerpt of the sixth book of De rerum natura is presented, along with William Ellery Leonard's translation. Finally, a preview of an interactive path based on the episode of the plague of Athens is presented to the visitor.</p>
    </div>
</div>
